

#Group_793 {
    // position: absolute;
    // width   : 195px;
    // height  : 62.5px;
    // left    : 231px;
    // top     : 1620.5px;
    // overflow: visible;
}

#Group_792 {
    position: absolute;
    width   : 195px;
    height  : 62.5px;
    left    : 0px;
    top     : 0px;
    overflow: visible;
}

#Path_1110_ {
    fill: url(#Path_1110_);
}

.Path_1110_ {
    overflow : visible;
    position : absolute;
    width    : 195px;
    height   : 47px;
    left     : 0px;
    top      : 15.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_1111 {
    fill             : rgba(255, 255, 255, 1);
    stroke           : rgba(255, 131, 0, 1);
    stroke-width     : 2px;
    stroke-linejoin  : miter;
    stroke-linecap   : butt;
    stroke-miterlimit: 10;
    shape-rendering  : auto;
}

.Path_1111 {
    overflow : visible;
    position : absolute;
    width    : 177.506px;
    height   : 57px;
    left     : 10.5px;
    top      : 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Discover {
    left       : 63px;
    top        : 15.5px;
    position   : absolute;
    overflow   : visible;
    width      : 72px;
    white-space: nowrap;
    line-height: 63px;
    margin-top : -22.5px;
    text-align : left;
    font-family: Nunito;
    font-style : normal;
    font-weight: bold;
    font-size  : 18px;
    color      : rgba(255, 102, 0, 1);
}