.footerWrap {
    background: url(../../img/4993.png);
    .footerTop {}
}

.footerLeftContent {
    .footerLogo {
        a {
            img {}
        }
    }

    .footerContent {
        p {}

        .learnMore {
            a {
                i {}
            }
        }
    }
}

.footerItem {
    .footerTitle {}

    .footerMune {
        li {
            a {}
        }
    }
}

.footerBottom {
    background: #2F2F37;

    .copyRight {
        p {
            color: #fff;
        }
    }

    .foogterSocial {
        li {
            a {
                img {}
            }
        }
    }
}