@charset "utf-8";
//-----Color class style

body {
    font-family   : $nunito;
    font-size     : 16px;
    line-height   : 30px;
    // background : #c3d4c1;
}

.tcolor {
    color: $tcolor;
}

.dark {
    color: $dark;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: $a-text-decuration;
    color          : $a-color;
    transition     : all 0.3s;
}

.underline {
    text-decoration: underline !important;
}

.hover-color:hover {
    color: $tcolor;
}

a:hover {
    color          : $tcolor;
    text-decoration: $a-text-decuration;
}

a:focus {
    outline: none !important;
}

a.link {
    color: $tcolor;
}

a.link:hover {
    color: $tcolor !important;
}

ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

.container {
    max-width: 1200px;
}


/* ======================================          Global style                 ==================================== */

.container {
    max-width: 1620px;
}


.mfp-bg {
    z-index: 1089;
}

.mfp-wrap {
    z-index: 1090;
}



.go_to_top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100;
}
.go_to_top a {
    background: linear-gradient(to right, #FCA03F, #FD513A);
    border: 1px solid #fff;
    border-radius: 33px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 33px;
    outline: medium none;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.go_to_top a:hover {
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 25px 15px -5px rgba(253, 81, 58, 0.5);
    box-shadow: 0px 25px 15px -5px rgba(253, 81, 58, 0.5); 
}

