.popupWrap {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    background     : rgba(0, 0, 0, 0.8);
    z-index        : 1090;
    display        : flex;
    align-items    : center;
    justify-content: center;
    transition     : all 0.5s;
    
    &.popUpRemove {
        transition     : all 1s;
        opacity   : 0;
        visibility: hidden;
        .popupInner {
            opacity  : 0;
            transform: translateY(-100px);
        }
    }

    &.popup {
        opacity   : 0;
        visibility: hidden;
        .popupInner {
            opacity  : 0;
            transform: translateY(-100px);
        }
    }

    .popupInner {
        transition: all 0.5s;

        .popupContent {
            position: relative;
            display : inline-block;

            .popLogo {
                position: absolute;
                top     : 0;
                left    : 0;

                img {}
            }

            .popupImg {}
        }
    }

    .closePopup {
        position       : absolute;
        top            : 5px;
        right          : 10px;
        width          : 30px;
        height         : 30px;
        border         : 1px solid #eee;
        border-radius  : 50%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        color          : #fff;
        background     : #72726a;
        cursor         : pointer;
        transition     : all 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }
}